<!-- Example for Ng Content -->
<app-header>
  <p class="text-center">Welcome to the Dashboard</p>
</app-header>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Full Name Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Full Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Password Column -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Password</th>
    <td mat-cell *matCellDef="let element">{{ element.password }}</td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <!-- Contact Numbers Column -->
  <ng-container matColumnDef="contactNumbers">
    <th mat-header-cell *matHeaderCellDef>Contact Numbers</th>
    <td mat-cell *matCellDef="let element">
      @for (contact of element.contactNumbers; track $index) {
        <div>{{ contact.number }}</div>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="editOptions">
    <th mat-header-cell *matHeaderCellDef>Edit Options</th>
    <td mat-cell *matCellDef="let element">
      @if (isAdmin()) {
        <button mat-button color="primary" (click)="editUser(element)">
          Edit
        </button>
        <button mat-button color="warn" (click)="deleteUser(element.id)">
          Delete
        </button>
      } @else {
        <span class="text-muted text-danger">No permissions</span>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<section
  class="mt-4 d-flex flex-column justify-content-center align-items-center"
>
  <h1>Users List</h1>
  <app-display-names
    [UserDetails]="dataSource"
    (viewUser)="handleViewUser($event)"
  >
  </app-display-names>
  <!-- Example for Ng Template and Ng Template Outlet -->
  <!-- <div class="mt-4 d-flex flex-wrap justify-content-center gap-3">
    <ng-container *ngFor="let user of dataSource; trackBy: trackByUser">
       <ng-container *ngIf="user.fullName == 'Ganesha Moorthi M'">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ user.fullName }}</h5>
          <p class="card-text">{{ user.email }}</p>
          <button
            class="btn btn-primary"
            (click)="handleViewUser(user)"
          >
            View Details
          </button>
        </div>
      </div>
       </ng-container>
  </ng-container>
  </div> -->

  <!-- Exmaple 1: -->
  <!-- Learn the ng Template  -->
  <!-- <ng-template #myTemplate>
    <h1>Hello World from Template!</h1>
    <p>This is a paragraph.</p>
  </ng-template> -->
  <!-- ngTemplateOutlet Directive  -->
  <!-- <div *ngTemplateOutlet="myTemplate"></div> -->

  <!-- Example 2: -->
  <!-- <div>
    <ng-template #userTemplate let-user>
      <h2>{{ user.fullName }}</h2>
      <p>Email: {{ user.email }}</p>
    </ng-template>

    <div *ngFor="let user of dataSource; trackBy: trackByUser">
      <ng-container *ngTemplateOutlet="userTemplate; context: { $implicit: user }"></ng-container>
    </div>
  </div> -->

  <!-- Learn ng Comtainer -->
   <!-- <ng-container *ngIf="isAdmin()">
     <p>Admin user is viewing this content.</p>
   </ng-container> -->
   
   <!-- Examples for ContentChild() and ContentChildren() -->
   <app-child>
     <h5>Child Component</h5>
     <p #paragraph>1. This content will be projected into the child component.</p>
     <p #paragraph>2. This content will be projected into the child component.</p>
     <p #paragraph>3. This content will be projected into the child component.</p>
     <app-test [userName]="'Ganesh'"></app-test>
     <app-test [userName]="'Ramesh'"></app-test>
     <app-test [userName]="'Suresh'"></app-test>
     <app-test [userName]="'Dinesh'"></app-test>
   </app-child>

</section>
