.login-container{
    height: 80vh;
    border-color: seashell;
    border-radius: 10px;
}

.particles-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.login-container {
  position: relative;
  z-index: 1; // Brings form above particles
}